* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0; 
    padding: 0;
    /* border: 1px solid red; */
}

.container {
    display: flex;
}

.nav {
    background-color: yellow;
    height: 20vh;
    justify-content: space-between;
}

.nav div {
    height: 6em;
    margin: auto 0.5em;
}

.nav-list {
    list-style-type: none;
    margin: 38px 0;
    justify-content: flex-end;
}

.nav-list li {
    margin: auto 2em;
    font-size: 1.2em;
}

.nav a {
    color: darkgoldenrod;
    font-weight: bold;
    text-decoration: none;
}
 
.nav-title {
    font-size: 3.5em;
    margin: auto 0.5em;
    text-align: center;
}

.subnav {
    height: 5vh;
    background-color: darkgoldenrod;
}

body {
    background-color: lightyellow;
    color: darkgoldenrod;
}

.intro {
    margin: 30px auto;
    width: 500px;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("us.jpg");
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    height: 38em;
    width: 100%;
    margin: 0;
}

.hero-text {
    color: whitesmoke;
    font-size: 2em;
    margin: 12em 4em auto 0 ;
    text-align: center;
    width: 50vw;
    height: 3em;
}

.footer {
    background-color: goldenrod;
    height: 15vh;
    color: darkslategray;
    justify-content: space-between;
}

.footer div {
    margin: auto 5em;
}