:root {
    /* "Custom" */
    --primary: #59d9b9;
    --secondary: #05114f; /* header text etc. */
    --accent: #db7d09;
    --background: #db7d09;
    --text: white;
}

* {
    /* border: 1px solid red; */
    font-family: poppins;
    margin: 0; 
    padding: 0;
}

.container {
    display: flex;
    align-items: center;
}

.nav {
    background-color: var(--primary);
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    flex-wrap: nowrap;
    height: 5em;
    justify-content: space-between;
    padding: 0.5em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.nav div {
    height: 100%;
    margin: auto 0;
}

.nav-left {
    width: 60%;
    justify-content: flex-start;
    flex: 1;
}

.nav-center {
    display: flex; 
    align-items: center;
}

.nav-title {
    font-size: 3.5em;
    margin: auto 0.5em;
    text-align: center;
    color: var(--secondary);
    text-shadow: 1px 1px 2px var(--accent);
}

.nav-image {
    margin: auto 0.5em;
    height: 100%;
    object-fit: cover;
    width: auto;
}

.nav-right {
    justify-content: flex-end;
    flex: 1;
}

.nav-right ul {
    border-bottom: 2px var(--accent) solid;
    height: 2em;
    list-style-type: none;
    margin: auto 2em auto 0.5em;
    justify-content: space-between;
}

.nav-right li {
    margin: auto 1em;
    font-size: 1.2em;
}

.nav a {
    color: var(--accent);
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    color: var(--background);
}

/* .subnav {
    height: 5vh;
    background-color: darkgoldenrod;
    margin-top: 9em;
} */

body {
    background-color: var(--background);
    color: var(--text);
}

.hero {
    align-items: center;
    background-color: var(--accent);
    display: flex;
    padding: 3em 0 1em;
    width: 100%;

    justify-content: center;

    gap: 5em;
}

.neon-text {
    color: #fff;
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #0fa,
      0 0 82px #0fa,
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px #0fa;
}

.hero-text {
    color: var(--secondary);
    font-size: 2em;
    text-align: center;
    width: 16em;
    /* text-shadow: 1px 1px 2px black; */
}

.hero-image {
    /* box-shadow: 1px 1px 10px white; */
    width: 50em;
    height: auto;
}

area {
    background-color: blue;
    opacity: 1;
    display: 1;
}

.intro {
    background-color: var(--secondary);
    padding: 2em 0;
}

.intro > h1 {
    
}

.recipes {
    background-color: var(--primary);
}

.travel {
    background-color: var(--secondary);
}

section {
    width: 100%;
    text-align: center;
    height: 100vh;
}

.footer {
    background-color: var(--secondary);
    /* bottom: 0; */
    color: var(--text);
    height: 4em;
    justify-content: space-between;
    /* left: 0;
    position: fixed; */
    width: 100%;
    box-shadow: 100px 100px 20px black;
}

.footer div {
    margin: auto 5em;
}